panelbody{width:100%;display:inline-block;padding:0 10px}
panelrow{width:100%;display:inline-block;margin-bottom:10px;}
label{padding:10px 0;font-family:sans-serif;font-weight:700;display:block;}
label.components-toggle-control__label{padding-top:0;}
.titlePadding .components-base-control{width:46%;float:left;margin-right:15px;}
.titlePadding .components-base-control:nth-child(odd){margin-right:0;}
.accordionHeader h4{padding:10px;font-family:sans-serif;font-weight:500;}
.accordionBody{padding:20px 10px;width:100%;display:inline-block;margin-top:20px;}
.accordionParentWrapper .dashicons-plus,.accordionParentWrapper .dashicons-minus{width:40px;height:40px;border-radius:50%;line-height:40px;font-size:24px;background-color:#26466d;color:#FFF;}
.accordionParentWrapper .dashicons-minus{float:right;}
.accordionParentWrapper .dashicons-plus:before{content:"\f132";top:2px;position:relative;}